<div class="mdl-grid widgets">

    <!--repeat widgets-->
    <div class="mdl-cell mdl-cell--6-col" id="widget-list">
        <app-widgets-list *ngFor="let widget of widgets" [widget]="widget" [selectedClass]="isSelected(widget)" (selected)="toggleWidget(widget)" (deleted)="removeWidget(widget)">
        </app-widgets-list>
    </div>

    <!-- selected widget -->
    <div class="mdl-cell mdl-cell--6-col">
        <app-widget-details [selectedWidget]="selectedWidget"></app-widget-details>
    </div>
</div>