<div *ngIf="selectedWidget" class="widget-card mdl-card mdl-shadow--2dp" id="selected-widget-display">
    <div class="mdl-card__title">
        <h4 class="text-white m-0">
            {{selectedWidget.name}}
        </h4>
    </div>
    <div class="mdl-card__supporting-text">
        {{selectedWidget.description}}
    </div>
    <div class="mdl-card__actions">
        <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="clearSelected()">Cancel</button>
    </div>
</div>

<div *ngIf="!selectedWidget" class="widget-card mdl-card mdl-shadow--2dp" style="background-color: #607D8B;">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text" style="color: white">
            Select a Widget
        </h2>
    </div>
    <div class="mdl-card__supporting-text" style="color: #E0E0E0">
        SELECTED WIDGET
    </div>
    <div class="mdl-card__actions">
    </div>

</div>